@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #4D486E;
    --color-secondary: #FF9479;
    --color-tertiary: #FFFFFF;
    --font-primary: 'Tektur', monospace;
}